body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table,td,th{
    border: 2px solid black;
    padding: 5px;
}
.t2,.t3{
    border: none;
    padding: 0%;
}
